@import "../variables/media";

$root: ".block-slider";

#{$root} {
  margin-top: 80px;

  &__slider {
    width: 100%;
    height: 520px;
    overflow: hidden;
    position: relative;
    padding-bottom: 80px;
  }

  &__slider-wrapper {
  }

  &__slide {
    border-radius: 30px;
    overflow: hidden;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

  }

  &__nav {
    position: relative;
    height: 50px;
    display: flex;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    .swiper-button-prev, .swiper-button-next, .swiper-pagination {
      position: relative;
    }

    .swiper-button-prev {
      margin-right: 48px;
    }

    .swiper-button-next {
      margin-left: 48px;
    }

    .swiper-pagination {
      width: fit-content;
      bottom: -13px;
    }

  }

  &__pag {
    position: absolute;
  }

}

@media (max-width: #{$mediaSM}) {
  #{$root} {
    margin-top: 40px;

    &__slider {
      height: 100%;
      padding-bottom: 40px;
    }

    &__nav {

      .swiper-button-prev, .swiper-button-next {
        display: none;
      }

    }

  }
}