@import "../variables/media";

$root: ".section-container";

#{$root} {

  &-header {

    .promo-area {
      margin-top: -230px;
    }

    .media-block-container {
      justify-content: space-between;

      &__text {
        padding: 90px 78px;

        &-text {
          max-width: 365px;
        }

      }

    }

  }

  &-subheader {
    margin-top: 110px;

    .media-block-container {

      &__text {
        margin: 150px 52px;

        &-text {
          max-width: 529px;
        }

      }

    }

  }

}

@media (max-width: #{$mediaSM}) {
  #{$root} {

    &-header {
      padding-top: 30px;

      .promo-area {
        margin-top: 20px;
      }

      .media-block-container__text {
        padding: 0;

        &-text {
          max-width: 100%;
        }

      }

    }

    &-subheader {
      margin-top: 40px;

      .media-block-container {

        &__text {
          margin: 0;
        }

        &__image {
          margin-bottom: 20px;
        }

      }

    }

  }
}