@import "../variables/colors";
@import "../variables/media";

$button: ".swiper-button";
$pagination: ".swiper-pagination";

#{$pagination}-bullet {
  width: 12px;
  height: 12px;
  background: #ffffff;
  margin: 6px !important;
  border: 1px solid rgba(44, 62, 80, 0.53);

  &-active {
    background: #2DB5D3;
    border: 1px solid #2DB5D3;
  }

}

#{$button}-next, #{$button}-prev {
  &:after {
    content: '';
    position: absolute;
  }
}

#{$button}-prev {
  left: 0;
}

#{$button}-next {
  right: 0;
}

#{$button}-prev, #{$button}-next {
  width: 25px;
  height: 17px;

  svg {
    fill: #{$text-color};
  }

}

@media (max-width: #{$mediaSM}) {
  #{$pagination}-bullet {
    width: 9px;
    height: 9px;
    margin: 4px !important;
  }
}