@import "../variables/colors";

.swiper-pagination-bullet {
  background: #ffffff;
  border: 1px solid rgba(44, 62, 80, 0.53);

  &-active {
    background: #2DB5D3;
    border: 1px solid #2DB5D3;
  }

}

.swiper-button-next, .swiper-button-prev {
  &:after {
    content: '';
    position: absolute;
  }
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev, .swiper-button-next {
  width: 25px;
  height: 17px;

  svg {
    fill: #{$text-color};
  }

}