@import "../../variables/media";
@import "../../variables/colors";

$root: ".promo-area";

#{$root} {
  margin: 0 auto;
  position: relative;
  width: 1018px;
  padding: 16px 137px 16px 89px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 10px rgba(0, 58, 64, 0.2);
  border-radius: 30px;
  align-items: center;
  z-index: 3;

  .heading-h3 {
    color: #{$text-color};
  }

}

@media (max-width: #{$mediaSM}) {
  #{$root} {
    width: 100%;
    padding: 26px;
    flex-direction: column;

    &__header {
      margin-bottom: 19px;
    }

  }
}